.google-visualization-table-table .gradient, .google-visualization-table-div-page .gradient{
    background:  #355cc9 !important;
    color: #ffffff !important;
    font-size: 1em !important;
}

.awt-button .phone{
    background-color:  #355cc9 !important;
    color: #ffffff !important;
}

.awt-button .phone{
    background-color:  #355cc9 !important;
    color: #ffffff !important;
}

.awt-button .email{
    background-color:  #355cc9 !important;
    color: #ffffff !important;
}

.awt-button {
    background-color:  #355cc9 !important;
    color: #ffffff !important;
}
.google-visualization-table-th .gradient .unsorted{
    background-color:  #355cc9 !important;
    color: #ffffff !important;
}.google-visualization-table-th {
     background-color:  #355cc9 !important;
     color: #ffffff !important;
 }

.google-visualization-table-table .gradient, .google-visualization-table-div-page .gradient {
    background: #355cc9!important;
    color: #ffffff !important;
    font-size: 1em !important;
}
.google-visualization-table-table .gradient, .google-visualization-table-div-page .gradient {
    background: #355cc9!important;
    color: #ffffff !important;
    font-size: 1em !important;
}
th.google-visualization-table-th.gradient.unsorted {
    background: #355cc9!important;
}

a.google-visualization-table-page-number.gradient.current {
    background: #355cc9!important;
}
a.google-visualization-table-page-number.gradient {
    background: #355cc9!important;
}