@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
html {
  background-image: url("https://images6.alphacoders.com/104/1046925.jpg");
  font-size: 40px;
  /* Préserve le ratio de l'image */
  min-width: auto;
  min-height: 100%;
  height: 100%;
  background-size: cover;
}

body {
  text-align: -webkit-center;
  padding: 0 !important;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #eee;
}

.header {
  font-family: "Racing Sans One", cursive;
  height: 400px;
  background-image: linear-gradient(to right bottom, rgba(76, 216, 255, 0.8), rgba(30, 108, 217, 0.8));
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 200px, 0 100%);
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand {
  font-size: 20px;
}

.text-box {
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-x: left;
  background-position-y: top;
  text-align: center;
  margin-top: 22px;
}

.heading-primary {
  display: inline-grid;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  font-size: 50px;
  display: block;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
  width: 90% !important;
  font-family: "Racing Sans One", cursive !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  padding: 10px 20px !important;
  display: inline-block !important;
  transition: all 0.2s !important;
  position: relative !important;
  font-size: 80% !important;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

.btn {
  margin: 5px;
}

.header_div_box {
  align-content: center;
  margin: 0;
}

div.google_calendar {
  height: 600px;
}

.st-bg {
  border-left: none;
}

.st-dtitle {
  border: none;
  background: white;
}

div.google_news {
  height: 600px;
}

/*img {
  height: 100px;
  margin-top: 0;
  margin-right: auto;
  float: left;
}*/
form {
  text-align: -webkit-center;
}

#form {
  line-height: 35px;
  font-size: 15pt;
  display: table-caption;
}

#form_email {
  font-size: 15pt;
}

#form_password {
  font-size: 15pt;
}

#form_phone {
  font-size: 15pt;
}

#form_organisation {
  font-size: 15pt;
}

#form_nom {
  font-size: 15pt;
}

#form_repeat-password {
  font-size: 15pt;
}

#form_submit {
  position: relative;
  margin: 0;
  padding: 5px 12px;
  outline: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  color: #1d89ff;
  font-weight: 400;
  font-size: 20px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
#form_submit span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
#form_submit:hover {
  animation: rotate 0.7s ease-in-out both;
}
#form_submit:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.inspire a {
  text-decoration: none;
}

input {
  align-content: center;
}

.bodyhome {
  height: 100%;
}

footer {
  display: inline;
  width: 100%;
}

a.foot {
  opacity: 0.6;
}

a.foot:hover {
  opacity: 1;
}

p {
  color: white;
  font-size: 1.15em;
}

#divform {
  height: 4em;
  display: block;
}

div #divRform {
  width: 100%;
  margin: auto;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

span {
  color: #0a4cbf;
}

.btn-primary {
  color: #fff !important;
  background-color: #005da8 !important;
  border-color: #005da8 !important;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0 !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*# sourceMappingURL=home.css.map */
